*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
.flex-row{
    display: flex;
    justify-content: space-between;
}
html{
    font-size: 62.5%;
}
.flex{
    display: flex;
    justify-content:space-between;
    align-items: center;
}

#root{
    padding: 2rem 5%;
}

header{
    display:  flex;
    align-items: center;
    justify-content: center;
}
header button{
    padding: .8rem 3.2rem;
    border-radius: .4rem;
    border: none;
    margin: 0 1rem;
}

section {
    margin: 2rem 0 ;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.dish-container{
    flex:  0 1 45%;
    display: flex;
    justify-content: space-between;
     margin: 2rem  0;
}
figure{
    flex:  0 1 45%;
}
figure img{
    width: 100% !important;
    height: 150px;
    object-fit: cover;
}
.card-info{
    flex  : 0 1 49%;
}
h2{
    font-size: 2rem;
}
span{
    font-size: 1.4rem;
    font-weight: 700;
}
p{
    font-size: 1.4rem;
    margin: 2rem 0 0 0;
}

.active{
    background-color: royalblue;
    color: #fff;
    font-weight: 700;
}